# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# SQLite
*.db

# Logs
*.log

# Datasets
data/raw/
data/processed/

# Models (keep only if you don't want to upload trained models)
# models/*.pkl