fastapi
uvicorn
streamlit
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
google-genai
scapy
scikit-learn
pandas
numpy
requests
Pillow
reportlab
plotly
joblib
streamlit-autorefresh